    /* Unicode fonts */
    @font-face{
      font-family:'Adlam CWC';
      src:url('/fonts/AdlamCWC.ttf');
      font-weight:normal;
      font-style:normal;
    }
    
    .adlamFont {
      font-family:'Adlam CWC';
      font-size: 32px;
    }

    @font-face{
      font-family:'Aissata Unicode';
      src:url('/fonts/Fulfulde-AissataUnicode.ttf');
      font-weight:normal;
      font-style:normal;
    }
    
    .aissataUnicode {
      font-family:'Aissata Unicode';
      font-size: 32px;
    }

    @font-face{
      font-family:'Aissata Arabic';
      src:url('/fonts/Fulfulde - Aissata.ttf');
      font-weight:normal;
      font-style:normal;
    }
    
    .aissataArabic {
      font-family:'Aissata Arabic';
      font-size: 32px;
    }

    @font-face{
      font-family:'Fuuta Arabic';
      src:url('/fonts/Fulfulde - Fuuta.ttf');
      font-weight:normal;
      font-style:normal;
    }
    
   .fuutaArabic {
      font-family:'Fuuta Arabic';
      font-size: 32px;
    }

    @font-face{
      font-family:'Pulaar Arabic';
      src:url('/fonts/Fulfulde - Pulaar.ttf');
      font-weight:normal;
      font-style:normal;
    }
    
    .pularArabic {
      font-family:'Pulaar Arabic';
      font-size: 32px;
    }

    @font-face {
      font-family:'Noto Sans Adlam';
      src:url('/fonts/NotoSansAdlam-Regular.ttf');
      font-weight:normal;
      font-style:normal;
    }

    @font-face {
      font-family:'extendedNoto Sans Adlam';
      src:url('/fonts/extendedNotoSansAdlam-Regular.ttf');
      font-weight:normal;
      font-style:normal;
    }

    .NotoSansAdlam {
      font-family:'Noto Sans Adlam';
      font-size: 32px;
    }

    .extendedNotoSansAdlam {
      font-family:'extended Noto Sans Adlam';
      font-size: 32px;
    }

    @font-face {
      font-family:"Noto Sans Adlam Unjoined";
      src:url('/fonts/NotoSansAdlamUnjoined-Regular.ttf');
      font-weight:normal;
      font-style:normal;
    }

    .NotoSansAdlamUnjoined {
      font-family:'Noto Sans Adlam Unjoined';
      font-size: 32px;
    }

   .arial {
      font-family:'Arial';
      font-size: 32px;
    }
    
