<html>
  <head>
    <title>Adlam font comparison</title>

  <link rel="stylesheet" href="/css/blueprint/screen.css" type="text/css" media="screen">
  <link rel="stylesheet" href="/css/blueprint/print.css" type="text/css" media="print"> 
  <!--[if lt IE 8]>
    <link rel="stylesheet" href="/css/blueprint/ie.css" type="text/css" media="screen, projection">
  <![endif]-->

  <link rel="stylesheet" type="text/css" href="/css/fonts.css">
    
  <script type = "text/javascript" src="/js/adlamConverterArabic.js"></script>
  <script type="text/javascript" src="/js/testjs.js"></script>

<style>
  /* Set up fonts if needed */
</style>

<style>
  table {
      border-collapse: collapse;
  }
  
  table, th, td {
      border: 1px solid black;
  }

  textarea {
    width: 600px;
	height: 240px;
	border: 3px solid #cccccc;
	padding: 5px;
	font-size: 24px;
	}
  {
    font-family: "Courier New";
  }
  </style>

  <script>
   var diff_list = [];

   function onFontSelected(selected, area) {
     var output_text = document.getElementById(area);
     var fontFam = selected.value;
     output_text.style.fontFamily = fontFam;
   }
  
  function clearText(region) {
    var field = document.getElementById(region);
    field.value = '';

  }

  function fillUpper(region) {
    var field = document.getElementById(region);
    var text = "\u202e";
    for (var code = 0x1e900; code < 0x1e922; code ++) {
      text += String.fromCodePoint(code) + " ";
    }
    field.value = text;
  }

  function fillLower(region) {
    var field = document.getElementById(region);
    var text = "\u202e";
    for (var code = 0x1e922; code < 0x1e944; code ++) {
      text += String.fromCodePoint(code) + " ";
    }
    field.value = text;
  }  

  function fillDigits(region) {
    var field = document.getElementById(region);
    var text = "";
    for (var code = 0x1e950; code < 0x1e95a; code ++) {
      text += String.fromCodePoint(code);
    }
    text += "   " + String.fromCodePoint(0x1e95e) + " ";
    text += String.fromCodePoint(0x1e95f) + " ";
    field.value = text;
  }

  function init() {
    // Fill in if needed.
      //var selector = document.getElementById('selectFont');
      //onFontSelected(selector, 'admlanMain');
  }

    function reverseArabicEncode(unicodeValue) {
        var strVal = String.fromCodePoint(unicodeValue);
        var found = false;
        for (v in adlam_convert_unicode_map) {
            if (adlam_convert_unicode_map[v] == strVal) {
                return v;
            }
        }
        return "huh?";
    }

  </script>
  </head>

  <body onload="init()">
  <div class="container">
    <div class="span-1">  
    </div>
  <div class="span-24-last">

   <div id="arab_adlam_area">
     <h2>Adlam font comparison</h2>

     <!-- TODO: put Arabic code point in hover text -->
     <table>
       <tr class='NotoSansAdlam'>
         <th>Hex and name</th>
         <th>Noto Sans</th>
         <th>Pulaar</th>

         <th>Current chart</th>
         <th>Proposed glyph</th>
         <th>Comment</th>
       </tr>
       
       {% for char in charData %}
       <tr>
         <td class='NotoSansAdlam' class='rtl'>{{char.hextext}} {{char.charName}}</td>
         <td class='NotoSansAdlam'>{% if char.isLetter %}{{char.mixedCase}} {{char.unicodeChar}}{{char.unicodeChar}}{{char.unicodeChar}}{% endif %} {{char.unicodeChar}}
         </td>

         <td class='pulaarArabic' align='right' valign='top'>{% if char.isLetter %}{{char.pulaarChar}}{{char.pulaarChar}}{{char.pulaarChar}} {% endif %}{{char.pulaarChar}}</td>
         <td></td>
         <td></td>
         <td></td>
       </tr>
       {% endfor %}
     </table>
   </div>
  </div>
  <!-- TURN OFF FOR A WHILE
  <div class="span-4 last">
    {% if user_nickname %}
      <h4>Welcome {{user_nickname}}</h4>
    {% if user_logout %}
    <a href={{user_logout}}>Logout</a>
    {% endif %}
    {% else %}
    <a href='{{user_login_url}}'>Log in</a>
    {% endif %}
    <h3>Useful links</h3>
      <ul>
        <li>
          <a href="/keyboard/">Adlam keyboard</a>
        </li>
        <li>
          <a href="/words/convert/">Font conversion</a>
        </li>
        <li>
          <a href="/encodingrules/">Encoding rules</a>
        </li>
        <li>
          <a href="/words/phraselist/">Phrases database</a>
        </li>
        <li>
          <a href="/words/review/">Phrase review</a>
        </li>
        {% if isAdmin %}
          <li>
            <a href="/words/addNewPhrase/">Add phrase</a>
          </li>
        {% endif %}
        <li>
          <a href="/downloads/">Download Adlam Unicode fonts</a>
        </li>
        <li>
          <a href="/downloads/">Resources</a>
        </li>

        <li>
          <a href="/words/getPhrases/">View database</a>
                    <br />
          <br />
        </li>
      </ul>

      {% if isAdmin %}
      <ul>
        <li><a href='/db/manage/'>Manage data</a></li>
      </ul>
      {% endif %}

      <ul>
        <li>
          <a href="https://www.theatlantic.com/technology/archive/2016/11/the-alphabet-that-will-save-a-people-from-disappearing/506987/">Atlantic article on Adlam</a>
        </li>
        <li>
          <a href="http://www.unicode.org/charts/PDF/U1E900.pdf">Adlam Unicode page</a>
        </li>
        <li>
           <a href="http://www.unicode.org/L2/L2014/14219r-n4628-adlam.pdf">Adlam Unicode proposal</a>
        </li>
      </ul>
    </div>
-->
  </div> <!-- container -->
  </body>
</html>
