<!DOCTYPE html>
<html>
  <head>
    <title>Adlam keyboard</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    <link rel="stylesheet" href="/css/blueprint/screen.css" type="text/css" media="screen, projection">
    <link rel="stylesheet" href="/css/blueprint/print.css" type="text/css" media="print"> 
    <!--[if lt IE 8]>
      <link rel="stylesheet" href="/css/blueprint/ie.css" type="text/css" media="screen, projection">
    <![endif]-->

    <script src="/js/vk-debug.js"></script>

    <link rel="stylesheet" type="text/css" href="/css/keyboard.css">
    <link rel="stylesheet" type="text/css" href="/css/fonts.css">

    <script type="text/css">
      .vk-box {font-family:'NotoSansAdlam2019'};

      .vk-button {font-family:"NotoSansAdlam2019", Adlam, Arial;}
      .input {font-size:18px;}
      .textarea {font-size:16px; font-family:"Courier New";}
      .t1 {font-family:Noto Sans Adlam, Arial;}
    </script>

    <!-- UNICODEFONTS -->
    <style>
    {% for font in unicodeFonts %}
    @font-face{
      font-family:'{{font.family}}';
      src:url('{{font.source}}');
      font-weight:normal;
      font-style:normal;
      font-size: 32px;
    }

    .{{font.family}} {
      font-family:{{font.family}};
      font-size: 32px;
    }
    {% endfor %}
  </style>

    <script type="text/css">
      .vk-box {font-family:'NotoSansAdlam2019'};

      .vk-button {font-family:"NotoSansAdlam2019", Adlam, Arial;}
      .input {font-size:18px;}
      .textarea {font-size:16px; font-family:"Courier New";}
      .t1 {font-family:Noto Sans Adlam, Arial;}
    </script>

  <script src="/js/text_utils.js"></script>
  <script src="/js/ui_utils.js"></script>

  <script>
    var diff_list = [];

    var controller, visible = true;
    function onPageLoaded() {
      clearText('t1');
      clearText('codepoints');
      var input = document.getElementById('t1');
      controller = new i18n.input.keyboard.Keyboard();
      controller.loadLayout('ful');
      controller.loadLayout('ff_adlam');
      controller.reposition(input, 2, 0, [1, 0, 0, 0]);
      controller.register(input);
      controller.addEventListener('kc', function() { visible = false; });
      input.focus();
      var selector = document.getElementById('selectKeyboard');
      onLayoutSelected(selector);
      var selector = document.getElementById('selectFont');
      onFontSelected(selector, 't1');

      var kbd = document.getElementById('kbd');
      if (kbd) {
        kbd.style.fontFamily = 'NotoSansAdlam2019';
      }
    }

    function toggle() {
      if (controller) {
        controller.setVisible(visible = !visible);
      }
    }

   function setKeyCapsFont(newFontFamily) {
     var keycaps = document.getElementsByClassName("vk-cap");
     for (var i = 0; i < keycaps.length; i++ ) {
       keycaps[i].style.fontFamily = newFontFamily;
     }
   }
  </script>

<script>window["_GOOG_TRANS_EXT_VER"] = "1";</script>
</head>

<body onload="onPageLoaded()">
  <div class="container">
    <div class="span-1">  
    </div>
  <div class="span-16" dir="rtl">
    <h2>Adlam keyboard testing</h2>

  <select onchange="onLayoutSelected(this)" id="selectKeyboard">
    <option value="ful">Fulani Unicode</option>
    <option value="ff_adlam">New ff keyboard</option>
  </select>
  <input type="button" value="Clear text" onclick="clearText('t1');clearText('codepoints')">
    Select font: <select onchange="onFontSelected(this, 't1');" id="selectFont">
      {% for font in unicodeFonts %}
      <option value="{{font.family}}">{{font.longName}}</option>
      {% endfor %}
    </select>
    <br />

  <textarea id="t1" dir="rtl" class="NotoSansAdlam2019" style="width:600px;height:300px;" rows="10"></textarea>
  <br />
  <input type="button" value="Code points" onclick="showCodePoints('t1', 'codepoints');">
    </div>
    <div class="span-1">
    </div>
    <div class="span-4 last">
    {% if user_nickname %}
      <h4>Welcome {{user_nickname}}</h4>
    {% if user_logout %}
    <a href={{user_logout}}>Logout</a>
    {% endif %}
    {% else %}
    <a href='{{user_login_url}}'>Log in</a>
    {% endif %}
    <h3>Useful links</h3>
      <ul>
        {% for link in links %}
        <li>
          <a href="{{link.target}}">{{link.text}}</a>
        </li>
        {% endfor %}
      </ul>
        {% if isAdmin %}
          <li>
            <a href="/words/addNewPhrase/">Add phrase</a>
          </li>
        {% endif %}
      </ul>
    </div>
    
  <div class="span-18 last">
  <textarea id="codepoints" class="default-font" style="width:600px;" rows="10"></textarea>
  <br>
  </div>

  </div>

</body></html>
