<html>
  <head>
    <title>Upload {{language}} CSV data</title>
  </head>
  
  <body>
  <h2>Upload CV file to {{language}} database from CSV file.</h2>
    <form action="{{upload_url}}" method="POST" enctype="multipart/form-data">
        Upload CSV File:
        <input type="file" name="file"> <br>
        {% if dbNameList|length > 0 %}
        Database Name:
        <select id="selectDatabase" name="dbName">
          {% for dbName in dbNames %}
            <option value="{{dbName}}">{{dbName}}</option>
          {% endfor %}
        </select><br />
        {% endif %}
		<hr>
       <ul>
          <li>Index column: <input type="text" size=3 name="indexColumn"></li>
          <li>Unicode {{language}} column: <input type="text" size=3 name="unicodeColumn"></li>
          <li>English column: <input type="text" size=3 name="englishColumn"></li>
          <li>French column: <input type="text" size=3 name="frenchColumn"></li>
          <li>Arabic {{language}} column: <input type="text" size=3 name="arabicColumn"></li>
          <li>Comment column: <input type="text" size=3 name="commentColumn"></li>
          <li>Reference column: <input type="text" size=3 name="referenceColumn"></li>
          <li>Lines to skip at start:
            <input type="text" size=3 name="skipLines" value="0"><br /></li>
          <li>Maximum # lines to load:
            <input type="text" size=5 name="maxLines" value="10000"><br /></li>
        </ul>
        <input type="checkbox" name="skipEmptyLines" id="skipEmpty" checked>Skip empty lines?
        <br />

        <input type="submit" name="submit" value="Submit">
    </form>
  <hr>
  <form action="/words/clear/" method="GET">
      Delete all contents of database:
      <select id="selectClearDatabase" name="dbName">
          {% for dbName in dbNames %}
            <option value="{{dbName}}">{{dbName}}</option>
          {% endfor %}
          <option value="*All*">All</option>
      </select><input type="submit" name="submit" value="Submit">
      <input type="checkbox" name="confirmClear" id="confirmClear">Really clear entries?
  </form>   
  <hr>
  <form action="/words/renameDB/" method="GET">
      Rename all contents of old database:
      <select id="selectOldDatabase" name="oldDbName">
          {% for dbName in dbNames %}
            <option value="{{dbName}}">{{dbName}}</option>
          {% endfor %}
          <option value="*All*">All</option>
      </select>
      to new database:
      <select id="selectNewDatabase" name="newDbName">
          {% for dbName in dbNames %}
            <option value="{{dbName}}">{{dbName}}</option>
          {% endfor %}
          <option value="*All*">All</option>
      </select><input type="submit" name="submit" value="Submit">
      <input type="checkbox" name="confirmRename" id="confirmRename">Really rename entries?
  </form>
  <hr>
  <form action="/db/handleDB/" method="GET">
      Database name to add: <input type="text" size=20 name="dbName">
      <input type="submit" name="submit" value="Submit">
      <input type="checkbox" name="confirmAdd" id="confirmAdd">Really add database?
  </form>
  <hr>
  <form action="/db/handleDB/" method="GET">
        Database to delete:
        <select id="selectDeleteDatabase" name="dbName">
          {% for dbName in dbNames %}
            <option value="{{dbName}}">{{dbName}}</option>
          {% endfor %}
        </select>
      <input type="submit">
      <input type="hidden" name="deleteDB" value="deleteDB">
      <input type="checkbox" name="confirmDelete" id="confirmDelete">Really delete database?
  </form>
  </body>
</html>