<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>

  <title>Testing Adlam Unicode and conversion</title>

  <link rel="stylesheet" href="/css/blueprint/screen.css" type="text/css" media="screen">
  <link rel="stylesheet" href="/css/blueprint/print.css" type="text/css" media="print"> 
  <!--[if lt IE 8]>
    <link rel="stylesheet" href="/css/blueprint/ie.css" type="text/css" media="screen, projection">
  <![endif]-->

  <link rel="stylesheet" type="text/css" href="/css/fonts.css">

  <style>
  textarea {
    width: 600px;
	height: 120px;
	border: 3px solid #cccccc;
	padding: 5px;
	font-size: 24px;
	}
  {
    font-family: "Courier New";
  }
  </style>
  <script src="/js/utils.js"></script>
  <script src="/js/adlamConverterArabic.js"></script>
  <script src="/js/adlamConverterLatin.js"></script>
  <script>

  // When an area is changed, set the hex characters, too.
  function updateHex(inArea, outArea) {
    var inText = document.getElementById(inArea).value;
    var hex_output = document.getElementById(outArea);
    var hexString = charsToHexString(inText);
    if (hex_output != null) {
      hex_output.value = hexString;
      hex_output.innerHTML = hexString;
    }
  }
  
  function clearArea(outId, outArea) {
    var inText = "";
    var output_text = document.getElementById(outId);
    output_text.innerHTML = inText;
    output_text.value = inText;

    var hex_output = document.getElementById(outArea);
    if (hex_output) {
      hex_output.innerHTML = "";
      hex_output.value = "";
	}
  }

  function onFontSelected(selected) {
    var output_text = document.getElementById('Unicode_font_output_text');
    var fontFam = selected.value;
    output_text.style.fontFamily = fontFam;
  }
  
  function fillWithSampleAdlam(outArea, hexArea) {
    var outObj = document.getElementById(outArea);
    
    var text = "ڇبگبثتض ڇبگبثتض ڇبگبثتض ...Àتضك لع لنجسظڇبث لنجسظڇبث لنجسظڇبث ” ùبثب پضخثبث قبغبÃكëڄبث گبصلظ ض ”بثبث ”بقكëڄبث";
    text += "” ù نخظغع ڇضكڇنغع، ڇضكڇنغع، ڇضكڇنغع، پبصبم ́ظصڇن قظكتبكڄن قظكتبكڄن قظكتبكڄن ”ب كíڄنك";
    outObj.innerHTML = text;
    outObj.value = text;

    var hex_output = document.getElementById(hexArea);
    if (hex_output) {
      hex_output.innerHTML = "";
      hex_output.value = "";    
    }
  }

  function fillWithLatin(outArea, hexArea) {
    var outObj = document.getElementById(outArea);
    var hex_output = document.getElementById(hexArea);
    text = "ADLAM BSP BH ɓ REF IO DH ɗ\u000a" + 
      "YH ƴ WHK YUJ TH C H QH G HY T NQ\u000a" +
      "V GH GB Z KPA KPa Kpa SHA SHa Sha" +
      "adlam bsp bh ɓ ref io dh ɗ\u000a" + 
      "yh ƴ whk yuj ty c h qh g hy t nq \u000a" +
      "v gh gb z kpa sha \u00a0" +
      "AA aa EE ee II ii OO oo UU uu \u000a" +
      "Ñ ñ \u000a" +
      ",./;\'[]\<>?:\"{}|_+\u000a!";
       
    outObj.innerHTML = text;
    outObj.value = text;
    if (hex_output) {
      hex_output.innerHTML = "";
      hex_output.value = "";    
    }    
  }
  function onFontSelected(selected, area) {
    var output_text = document.getElementById(area);
    var fontFam = selected.value;
    output_text.style.fontFamily = fontFam;
  }

  // Convert to Unicode
  function convertArabicToUnicode(idIn, outId, hexId, lowerId) {
    var inObj = document.getElementById(idIn);
    var outObj = document.getElementById(outId);
    var hexObj = document.getElementById(hexId);
    var lowerObj = document.getElementById(lowerId);
    var textOut = convertOtherToUnicode(inObj.value, lowerObj.checked);
    outObj.innerHTML = outObj.value = textOut;
  }

  // Convert to Unicode
  function convertLatinUnicode(idIn, outId, hexId, lowerId) {
    var inObj = document.getElementById(idIn);
    var outObj = document.getElementById(outId);
    var hexObj = document.getElementById(hexId);
    var lowerObj = document.getElementById(lowerId);
    var textOut = convertLatinToUnicode(inObj.value, lowerObj.checked);
    outObj.innerHTML = outObj.value = textOut;
  }
  function toggle(id, toggle) {
    var obj = document.getElementById(id);
    var checkBox = document.getElementById(toggle);
    var showIt = checkBox.checked;
    if(showIt)
      obj.style.display = 'block';
    else
      obj.style.display = 'none';
    }

  function init() {
    // Fill in if needed.
    updateHex('old_font_input_text', 'old_hex');
    updateHex('Unicode_font_output_text', 'new_hex');
  }

  </script>
  </head>

  <body onload="init()">
  <div class="container">
    <div class="span-1">  
    </div>
  <div class="span-16">

   <div id="arab_adlam_area">
    <h3>Converting Arabic and Latin encodings to Adlam Unicode</h3>
    <p>Place Arabic-encoded Fulani in this area. Convert to Adlam Unicode.
    <textarea class="aissataArabic" id="old_font_input_text"
              columns="60" rows="3" style="font-size: 28px;" dir="rtl"
              onchange="updateHex('old_font_input_text', 'old_hex');">{{osageInput}}</textarea>
    <br />

    <input type="button" value="Clear"
           onclick="clearArea('old_font_input_text', 'old_hex');">
           
    <input type="button" value="Sample Arabic text"
           onclick="fillWithSampleAdlam('old_font_input_text', 'old_hex')">

    Select font: <select onchange="onFontSelected(this, 'old_font_input_text');" id="selectFont">
      {% for font in oldFontFamilies %}
      <option value="{{font}}">{{font}}</option>
      {% endfor %}
    </select>

    <input type="button" value="Convert Arabic to Unicode"
           onclick="convertArabicToUnicode('old_font_input_text',
                    'Unicode_font_output_text', 'old_hex', 'DoLower');">
    <input type="checkbox" name="showOldTools" id="showOldTools"
      onchange="toggle('arabAdlamTools', 'showOldTools');">Tools?<br />

    <div id="arabAdlamTools" style="display:none;">

      <input type="button" value="Show hex values"
           onclick="updateHex('old_font_input_text', 'old_hex');">
      <br />
      <input type="checkbox" name="lowerCase" id="DoLower">To lower?<br />
    <br />
    <!--
      <p> Note that two characters 0xf03b and 0xf05c are no longer used. The underlined characters now are written with a central dot.
      -->
    Hex values:
    <textarea id="old_hex" cols="80" rows="2"  ></textarea>
    <input type="button" style="display:none;"
           onclick="convertToText('old_hex', 'old_font_input_text');"
           value="Convert hex" />
    </div>
    <br />
   </div>
   <div id="latin_adlam_area">
     <p>Place Latin-encoded Fulani in this area. Convert to Adlam Unicode.
     <textarea  id="latin_input_text"
              columns="60" rows="2" style="font-size: 28px;"
              onchange="updateHex('old_font_input_text', 'old_hex');">{{osageInput}}</textarea>
     <br />
     <input type="button" value="Sample Latin text"
           onclick="fillWithLatin('latin_input_text', 'old_hex')">
     <input type="button" value="Convert Latin"
           onclick="convertLatinUnicode('latin_input_text',
                    'Unicode_font_output_text', 'old_hex', 'DoLower');"
    </div>
   <div id="unicode_area">
    <h3>Unicode Adlam</h3>
    <textarea class="NotoSansAdlam" id="Unicode_font_output_text" dir="rtl"
     onchange="updateHex('Unicode_font_output_text', 'new_hex');"
              cols="50" rows="3" style="font-size: 28px;">{{unicodeInput}}</textarea>
    <br />
    <input type="button" value="Clear"
           onclick="clearArea('Unicode_font_output_text', 'new_hex');">

    Select font: <select onchange="onFontSelected(this, 'Unicode_font_output_text');"
       id="selectKeyboard">
      {% for font in fontFamilies %}
      <option value="{{font}}">{{font}}</option>
      {% endfor %}
    </select>
    <input type="checkbox" name="showUTools" id="showUTools"
      onchange="toggle('UnicodeAdlamTools', 'showUTools');">Tools?<br />

    <div id="UnicodeAdlamTools" style="display:none;">
      <input type="button" value="Show hex values"
           onclick="updateHex('Unicode_font_output_text', 'new_hex');">      <br />
    <br />
    Hex values:
    <textarea id="new_hex" cols="80" rows="3" style="font-family:'Courier New';font-size:20px;"></textarea>
    <br />
    <input type="button" style="display:none;"
           onclick="convertToText('new_hex', 'Unicode_font_output_text', 'new_hex')"
           value="Convert hex" />
    <br />
    </div>

   </div>

   <br />

    </div>
  <div class="span-4 last">
    <h3>Useful links</h3>
      <ul>
        <li>
          <a href="/keyboard/">Adlam keyboard</a>
        </li>
        <li>
          <a href="/">Review Adlam main</a>
       </li>
       <li>
         <a href="/words/getPhrases/">View database</a>       
          <br />
          <br />
       </li>
        <li>
           <a href="http://www.unicode.org/L2/L2014/14219r-n4628-adlam.pdf">Adlam Unicode proposal</a>
        </li>
        <li>
           <a href="http://windenjangen.org/yahoo_site_admin/assets/docs/TABALDE_2.18914205.pdf">Sample Arabic encoded text</a>
        </li>        <ol>
    </div>
  </div> <!-- container -->

</body>
</html>
