<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>

  <title>Convert test Adlam Unicode from Arabic and Latin</title>

  <link rel="stylesheet" href="/static/css/blueprint/screen.css" type="text/css" media="screen">
  <link rel="stylesheet" href="/static/css/blueprint/print.css" type="text/css" media="print"> 
  <!--[if lt IE 8]>
    <link rel="stylesheet" href="/static/css/blueprint/ie.css" type="text/css" media="screen, projection">
  <![endif]-->

  <link rel="stylesheet" type="text/css" href="/static/css/fonts.css">

  <style>
  textarea {
    width: 600px;
        height: 120px;
        border: 3px solid #cccccc;
        padding: 5px;
        font-size: 24px;
        }
  {
    font-family: "Courier New";
  }
  </style>
  <script src="/static/js/utils.js"></script>
  <script src="/static/js/adlamConverterArabic.js"></script>
  <script src="/static/js/adlamConverterLatin.js"></script>

  <script>
  
    function init() {
    // Fill in with calls to test needed.
    var results = testAllLatin();
    var ulArea = document.getElementById("latin_test_results"); 
    var item;
    for (item in results) {
      var node = document.createElement("LI");
      var textnode = document.createTextNode(item + ': Pass = ' + results[item].pass + " Actual = >" +
        results[item].actual + "< Expected = >" + results[item].expected + "<");
        
      node.appendChild(textnode);
      ulArea.appendChild(node);
    }
  }

  </script>
  </head>

<body onload="init()">
  <div class="container">
    <div class="span-1">  
    </div>
    <div class="span-16">
  
      <div id="arab_convert_test_Area">
        <h3>Convert Arabic Adlam Unicode</h3>
        <ul id="arabic_test_results" class="NotoSansAdlam">
        </ul>
    
      </div>
    
      <div id="latin_convert_test_Area">
        <h3>Convert Latin Adlam Unicode</h3>
        <ul id="latin_test_results" class="NotoSansAdlam">
        </ul>
      </div>
    
    </div>

  </div>

</body>
</html>
